<!DOCTYPE html>

<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<html>
  <body>
    <div class="container">
      <div class="row">
        <h2 class="col">TV Shows</h2>
        <a id="sign-out-btn" class="waves-effect waves-light btn col red"
          >Sign Out</a
        >
      </div>

      <div class="row">
        <h5 class="col s12">Add show</h5>
      </div>
      <form id="sign_out" class="row" method="post" action="/sign_out"></form>
      <form class="row" method="post" action="/add_show">
        <div class="input-field row">
          <input id="name" name="name" type="text" class="validate" />
          <label for="name">Name</label>
        </div>

        <div class="input-field row">
          <textarea
            id="overview"
            name="overview"
            type="text"
            class="materialize-textarea"
          ></textarea>
          <label for="overview">Overview</label>
        </div>

        <div class="input-field row">
          <input
            id="image_url"
            name="poster_path"
            type="url"
            class="validate"
          />
          <label for="image_url">Image URL</label>
        </div>
        <input type="hidden" name="_csrf" value="<%=csrf%>" />

        <button type="submit" class="waves-effect waves-light btn row">
          Add show
        </button>
      </form>

      <form class="row" method="get">
        <div class="input-field col">
          <i class="material-icons prefix">search</i>
          <input id="search" name="search" type="text" class="validate" />
          <label for="search">Search</label>
        </div>
        <input type="hidden" name="_csrf" value="<%=csrf%>" />

        <button
          type="submit"
          class="btn-floating btn-large waves-effect waves-light"
        >
          <i class="material-icons">search</i>
        </button>
      </form>

      <% if (search) { %>
      <h5>Showing result for <%= search %></h5>
      <% } %>

      <ul class="row" id="list">
        <% for (let i = 0; i < shows.length ; i++) { %>

        <div class="row list-item">
          <div class="col s12 m12">
            <div class="card">
              <div class="card-image">
                <img src="<%= shows[i].poster_path %>" />
                <span class="card-title"><%= shows[i].name %></span>
              </div>
              <div class="card-content">
                <p><%= shows[i].overview %></p>
              </div>
              <div class="card-action">
                <a href="/blog?id=<%= shows[i]._id %>">Blog</a>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </ul>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="scripts/clickListen.js"></script>
  </body>
</html>
